footer {
    color:white;
    text-align: center;
    border: 1px solid;
    align-content: space-between;
    display: block;
    padding-top: 3.123rem;
    padding-bottom: 6.25rem;
    background-image: url(/images/city_image.gif);
    
    
}
#Corps{
    text-align: center;
    color: white;
}
body{
    background-image: url(/images/chambre_image.gif);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}
#Compétences{
 

}